.input {
    width: 100%;
    max-width: 300px;
    height: 55px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 22px;
    font-weight: 400;
    outline: none;
}

.input::placeholder {
    color: #A7A7A7;
}