@keyframes skeleton-animation {
    0% {
        background-color: lighten(rgba(0, 0, 0, 0.1), 80%);
    }

    100% {
        background-color: rgba(0, 0, 0, 0.1);
    }
}

.skeleton {
    animation: skeleton-animation 1s linear infinite alternate;
    width: 100px;
    height: 100px;
}

.variant_circular {
    border-radius: 50%;
}

.variant_rectangle {
}