.input {
    max-width: 580px;
    border: 2px solid #000;
}

.input:focus{
    background-color: rgb(235, 235, 235);
}

.button {
    max-width: 190px;
    height: 55px;
    background-color: #000;
    color: #fff;
    font-size: 28px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.button:hover {
    background-color: #313131;
}

.button:disabled{
    background-color: #313131;
    cursor: default;
}

.form {
    display: flex;
    margin-bottom: 40px;
}