* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Jura', sans-serif;
}

html {
  height: 100%;
}

body {
  min-height: 100vh;
}

#root {
  min-height: inherit;
}


.debug {
  height: 100vh;
  position: fixed;
  width: 100%;
  z-index: 999;
  pointer-events: none;
}

.debug > div {
  height: inherit;
  max-width: 1320px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

.debug > div > div {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.debug > div > div > div {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(8.333333333333334% - 30px);
  height: inherit;
  outline: 1px solid rgba(0, 0, 0, 0.1);
  background: rgba(204, 252, 255, 0.2);
}
